.main {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
}

.address {
  & > span {
    padding: 0px 0.25rem;
    display: inline-block;
  }
}

.map {
  width: 90%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
}
